<br/>
<div class="row">
    <div class="thumbnail">
        <form role="form" id="associationForm">
            <div class="form-group">
                <label for="name">Nume</label>
                <input type="text" class="form-control" id="name" ng-model="association.name" readonly>
            </div>

            <div class="form-group">
                <label for="address">Adresa</label>
                <input type="text" class="form-control" id="address" ng-model="association.address" readonly>
            </div>

            <div class="form-group">
                <label for="city">Oras</label>
                <input type="text" class="form-control" id="city" ng-model="association.city" readonly>
            </div>

            <div class="form-group">
                <label for="county">Judet</label>
                <input type="text" class="form-control" id="county" ng-model="association.county readonly" >
            </div>

            <div class="form-group">
                <label for="apartments">Nr de Apartamente</label>
                <input type="text" class="form-control" id="apartments" ng-model="association.numberOfApartments" readonly>
            </div>
            <button class="btn btn-primary" ng-click="update()" ng-hide="edit">Modifica</button>
            <button class="btn btn-success" ng-click="save()" ng-show="edit">Salveaza</button>
        </form>
    </div>
</div>