<h2>Associatii aflate in administrare:</h2>

<div class="row">
    <div class="col-md-6" ng-repeat="association in associations">
        <div class="thumbnail">
            <form role="form">
                <div class="form-group">
                    <label for="name">Nume</label>
                    <input type="text" class="form-control" id="name" ng-model="association.name">
                </div>

                <div class="form-group">
                    <label for="address">Adresa</label>
                    <input type="text" class="form-control" id="address" ng-model="association.address">
                </div>

                <div class="form-group">
                    <label for="city">Oras</label>
                    <input type="text" class="form-control" id="city" ng-model="association.city">
                </div>

                <div class="form-group">
                    <label for="county">Judet</label>
                    <input type="text" class="form-control" id="county" ng-model="association.county">
                </div>

                <div class="form-group">
                    <label for="appartments">Nr de Apartamente</label>
                    <input type="text" class="form-control" id="appartments" ng-model="association.number_of_apartments">
                </div>
            </form>
        </div>
    </div>
</div>