<form name="accountForm" class="form-horizontal" role="form" style="margin-top: 20px" novalidate>
    <div id="alert" class="alert alert-danger" ng-show="message">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{ message }}
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-4 control-label">Email <span class="form-required">*</span></label>
        <div class="col-sm-7">
            <input type="email"
                   class="form-control"
                   id="email"
                   placeholder="Email"
                   ng-model="account.email">
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-4 control-label">Nume <span class="form-required">*</span></label>
        <div class="col-sm-7">
            <input type="text"
                   class="form-control"
                   id="firstName"
                   placeholder="Nume"
                   ng-model="account.lastName"
                   ng-minlength="3"
                   ng-maxlength="20"
                   ng-pattern="/[A-Za-z- ]/"
                   required>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="col-sm-4 control-label">Prenume <span class="form-required">*</span></label>
        <div class="col-sm-7">
            <input type="text"
                   class="form-control"
                   id="lastName"
                   placeholder="Prenume"
                   ng-model="account.firstName"
                   ng-minlength="3"
                   ng-maxlength="20"
                   required>
        </div>
    </div>
    <div class="form-group">
        <label for="phone" class="col-sm-4 control-label">Telefon</label>
        <div class="col-sm-7">
            <input type="tel" class="form-control" id="phone" placeholder="Telefon" ng-model="account.phone">
        </div>
    </div>
    <div class="form-group">
        <label for="password1" class="col-sm-4 control-label">Parola <span class="form-required">*</span></label>
        <div class="col-sm-7">
            <input type="password"
                   class="form-control"
                   id="password1"
                   placeholder="Parola"
                   ng-model="account.password"
                   ng-minlength="8"
                   ng-maxlength="40"
                   required>
        </div>
    </div>
    <div class="form-group">
        <label for="password2" class="col-sm-4 control-label">Confirma Parola <span class="form-required">*</span></label>
        <div class="col-sm-7">
            <input type="password"
                   class="form-control"
                   id="password2"
                   placeholder="Parola"
                   ng-minlength="8"
                   ng-maxlength="40"
                   ng-model="account.confirmPassword"
                   required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-7">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="account.agree" required> Sunt de acord cu termenii si conditiile.
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-7">
            <button type="submit"
                    class="btn btn-primary"
                    ng-click="createAccount()"
                    ng-disabled="accountForm.$invalid || (account.password != account.confirmPassword)">Creaza Contul</button>
        </div>
    </div>
    <div class="text-center">
        <p>Campurile marcate cu <span class="form-required">*</span> sunt obligatorii!</p>
    </div>
</form>
